In [2]:
# import pandas as pd
# import requests
# from bs4 import BeautifulSoup


# url = "https://en.wikipedia.org/wiki/Christopher_Nolan_filmography"

# # url = "https://en.wikipedia.org/wiki/Dune_(2021_film)#Cast"

# df = pd.read_html(url, header=0)

# len(df)


import pandas as pd
import requests
from bs4 import BeautifulSoup

# url = "https://www.google.com/search?q=dune+cast&rlz=1C5CHFA_enMX732MX732&sxsrf=AOaemvJGlHTDj7wXA5P0Dxx8C2PCjTQscA%3A1635309877483&ei=Ndl4YZ3yHNTj-gSQkJjoCw&ved=0ahUKEwjd4OCC5OnzAhXUsZ4KHRAIBr0Q4dUDCA4&uact=5&oq=dune+cast&gs_lcp=Cgdnd3Mtd2l6EAMyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgoIABCABBCHAhAUMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwE6BwgAEEcQsAM6CggAELADEEMQiwM6EwguEMcBENEDEMgDELADEEMQiwM6EAguEMcBENEDEMgDELADEEM6DQguEMgDELADEEMQiwM6BAgjECc6BAgAEEM6BQgAEIAESgUIOBIBMUoECEEYAFCIDljLD2DDEmgBcAJ4AIABlgGIAacCkgEDMC4ymAEAoAEByAEPuAECwAEB&sclient=gws-wiz"
url = "https://www.imdb.com/name/nm4043618/"

result = requests.get(url)
soup = BeautifulSoup(result.text, "html.parser")

ul = soup.find_all("div")

# find_by_class = soup.find_all(class_="FozYP")
# print(find_by_class)

# for i in ul:
#     print(i.text)

print(ul[10])

<div class="_1IQgIe3JwGh2arzItRgYN3" role="presentation"><ul aria-orientation="vertical" class="ipc-list _1gB7giE3RrFWXvlzwjWk-q ipc-list--baseAlt" role="menu"><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="https://www.imdb.com/calendar/?ref_=nv_mv_cal" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Release Calendar</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/list/ls016522954/?ref_=nv_tvv_dvd" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">DVD &amp; Blu-ray Releases</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/chart/top/?ref_=nv_mv_250" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Top 250 Movies</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/chart/moviemeter/?ref_=nv_mv_mpm" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Most Popular Movies</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/feature/genre/?ref_=nv_ch_gr" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Browse Movies by Genre</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/chart/boxoffice/?ref_=nv_ch_cht" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Top Box Office</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/showtimes/?ref_=nv_mv_sh" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Showtimes &amp; Tickets</span></a><a aria-disabled="false" class="ipc-list__item nav-link nav-link--hideXS nav-link--hideS nav-link--hideM NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="https://www.imdb.com/movies-in-theaters/?ref_=nv_mv_inth" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">In Theaters</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/coming-soon/?ref_=nv_mv_cs" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Coming Soon</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/news/movie/?ref_=nv_nw_mv" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">Movie News</span></a><a aria-disabled="false" class="ipc-list__item nav-link NavLink-sc-19k0khm-0 LrpYY ipc-list__item--indent-one" href="/india/toprated/?ref_=nv_mv_in" role="menuitem" tabindex="-1"><span class="ipc-list-item__text" role="presentation">India Movie Spotlight</span></a></ul></div>

In [30]:
# url = "https://www.imdb.com/name/nm4043618/"
url = "https://www.imdb.com/name/nm3918035/?ref_=tt_ov_st"

# parse url to string
result = requests.get(url)
# read html string
soup = BeautifulSoup(result.text, "html.parser")
# find div with class name
movieList = soup.find('div', {'class': 'filmo-category-section'})
# read children form div
children = movieList.findChildren("a")

# print movies from div tag
for child in children:
    print(child.text)

Megalopolis
announced
Dune: Part Two
pre-production
Spider-Man: No Way Home
post-production
Dune
Space Jam: A New Legacy
The Bunny & The GOAT - ESPN 30 for 30
Malcolm & Marie
Euphoria
Fuck Anyone Who's Not a Sea Blob
Trouble Don't Last Always
And Salt the Earth Behind You
The Trials and Tribulations of Trying to Pee While Depressed
The Next Episode
Show all 13 episodes
Lancôme: Idôle
Spider-Man: Far from Home
The OA
The Medium & The Engineer
Nina Azarova
Angel of Death
K.C. Undercover
Deleted!
K.C. Undercover: The Final Chapter
Domino 4: The Mask
Domino 3: Buggin' Out
Domino 2: Barbecued
Show all 76 episodes
Smallfoot
Wonderful Life - Around the World
Duck Duck Goose
The Greatest Showman
The Greatest Showman: Come Alive - Live Performance
Zendaya: Rewrite the Stars - Acoustic
Bruno Mars: Versace on the Floor
Spider-Man: Homecoming
Beyoncé: All Night
Zendaya: Neverland
Love Advent
Zendaya
Zendaya: Close Up
Black-ish
Daddy's Day
Taylor Swift: Bad Blood
Bobby Brackins: My Jam
MAX, Zendaya, Kina Grannis, & Kurt Schneider: Safe & Sound
Zapped
Zendaya: Too Much
Max & Zendaya: All of Me
Zendaya: My Baby (Remix)
Zendaya: My Baby
Shake It Up
Remember Me
Haunt It Up
Loyal It Up
Stress It Up
My Bitter Sweet 16 It Up
Show all 75 episodes
Zendaya: Replay
Super Buddies
Bella Thorne & Zendaya: Contagious Love
Trevor Jackson: Like We Grown
Bella Thorne & Zendaya: Fashion Is My Kryptonite
A.N.T. Farm
Creative ConsultANT
Zendaya & Bella Thorne: Something to Dance for/TTYLXOX (Mash-Up)
Frenemies
Zendaya: Swag It Out
Pixie Hollow Games
Zendaya: Dig Down Deeper
Bella Thorne & Zendaya: Watch Me
Good Luck Charlie
Charlie Shakes It Up

In [41]:

tsv_file='name.basics.tsv'
csv_table=pd.read_table(tsv_file,sep='\t')
csv_table.to_csv('new_name.csv',index=False)

In [46]:
file = 'new_name.csv'

table = pd.read_csv(file)

table.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0071877,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0060827,tt0050986"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0036855,tt0038109,tt0077711,tt0034583"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0033870,tt0034583,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0078788,tt0047296,tt0068646,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0059749,tt0087803,tt0057877,tt0061184"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0031867,tt0042041,tt0035575,tt0029870"

In [53]:
table.drop('primaryProfession', axis=1, inplace=True)

In [58]:
table.drop('birthYear', axis=1, inplace=True)

In [59]:
table.head(10)

      nconst      primaryName                           knownForTitles
0  nm0000001     Fred Astaire  tt0031983,tt0072308,tt0053137,tt0050419
1  nm0000002    Lauren Bacall  tt0037382,tt0038355,tt0071877,tt0117057
2  nm0000003  Brigitte Bardot  tt0054452,tt0057345,tt0049189,tt0056404
3  nm0000004     John Belushi  tt0080455,tt0072562,tt0077975,tt0078723
4  nm0000005   Ingmar Bergman  tt0083922,tt0050976,tt0060827,tt0050986
5  nm0000006   Ingrid Bergman  tt0036855,tt0038109,tt0077711,tt0034583
6  nm0000007  Humphrey Bogart  tt0033870,tt0034583,tt0042593,tt0043265
7  nm0000008    Marlon Brando  tt0078788,tt0047296,tt0068646,tt0070849
8  nm0000009   Richard Burton  tt0059749,tt0087803,tt0057877,tt0061184
9  nm0000010     James Cagney  tt0031867,tt0042041,tt0035575,tt0029870

In [61]:
title_file='title.basics.tsv'
title_table=pd.read_table(title_file,sep='\t')
title_table.to_csv('titles.csv',index=False)

In [62]:
titles_file = 'titles.csv'

titles_table = pd.read_csv(titles_file)

titles_table.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,short,Miss Jerry,Miss Jerry,0,1894,\N,40,"Romance,Short"
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

In [64]:
titles_table.drop('runtimeMinutes', axis=1, inplace=True)
titles_table.drop('isAdult', axis=1, inplace=True)
titles_table.drop('endYear', axis=1, inplace=True)
titles_table.drop('titleType', axis=1, inplace=True)
titles_table.drop('originalTitle', axis=1, inplace=True)

In [65]:
titles_table.head(10)

,tconst,primaryTitle,startYear,genres
0,tt0000001,Carmencita,1894,"Documentary,Short"
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short"
2,tt0000003,Pauvre Pierrot,1892,"Animation,Comedy,Romance"
3,tt0000004,Un bon bock,1892,"Animation,Short"
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short"
5,tt0000006,Chinese Opium Den,1894,Short
6,tt0000007,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport"
7,tt0000008,Edison Kinetoscopic Record of a Sneeze,1894,"Documentary,Short"
8,tt0000009,Miss Jerry,1894,"Romance,Short"
9,tt0000010,Leaving the Factory,1895,"Documentary,Short"

In [69]:
table.head(10)

      nconst      primaryName                           knownForTitles
0  nm0000001     Fred Astaire  tt0031983,tt0072308,tt0053137,tt0050419
1  nm0000002    Lauren Bacall  tt0037382,tt0038355,tt0071877,tt0117057
2  nm0000003  Brigitte Bardot  tt0054452,tt0057345,tt0049189,tt0056404
3  nm0000004     John Belushi  tt0080455,tt0072562,tt0077975,tt0078723
4  nm0000005   Ingmar Bergman  tt0083922,tt0050976,tt0060827,tt0050986
5  nm0000006   Ingrid Bergman  tt0036855,tt0038109,tt0077711,tt0034583
6  nm0000007  Humphrey Bogart  tt0033870,tt0034583,tt0042593,tt0043265
7  nm0000008    Marlon Brando  tt0078788,tt0047296,tt0068646,tt0070849
8  nm0000009   Richard Burton  tt0059749,tt0087803,tt0057877,tt0061184
9  nm0000010     James Cagney  tt0031867,tt0042041,tt0035575,tt0029870

In [94]:
table['primaryName']

0                 Fred Astaire
1                Lauren Bacall
2              Brigitte Bardot
3                 John Belushi
4               Ingmar Bergman
                   ...
11351714     Romeo del Rosario
11351715         Essias Loberg
11351716    Harikrishnan Rajan
11351717           Aayush Nair
11351718            Andre Hill
Name: primaryName, Length: 11351719, dtype: object