# My learning reading datasets in with python using pandas

In [1]:
import pandas as pd

For this project, I downloaded two dataset from IMBd, an internet database for film, and the goal is to read the table, handle NaN cases, and retrive values form one table to verify with the other.

Ex. 
- Read names table and look up an actor
- Retirve knownForTitles codes
- Read titles table and retrieve titles

In [4]:
# access file path and read tsv file and convert it into a csv

names_tsv = 'name.basics.tsv'
names_table = pd.read_table(names_tsv, sep = '\t')
names_table.to_csv('names.csv',index=False)

titles_tsv  = 'title.basics.tsv'
titles_table = pd.read_table(titles_tsv, sep = '\t')
titles_table.to_csv('titles.csv', index = False)

Difference between TSV and CSV: tsv file in a text dataset seperated by tabs while csv is a text dataset separated by commas.

# Create tables

- Read csv file.
- Create table using pandas.
- Make sure null values are handle correctly and get NaN.
- Display first 3 rows from table for visibility.

In [6]:
namesFile = 'names.csv'
namesTable = pd.read_csv(namesFile, na_values=[r'\N'])
namesTable.head(3)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0031983,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0037382,tt0038355,tt0071877,tt0117057"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404"

In [7]:
titlesFile = 'titles.csv'
titlesTable = pd.read_csv(titlesFile, na_values=[r'\N'])
titlesTable.head(3)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,4.0,"Animation,Comedy,Romance"

# Check data types in tables

In [10]:
namesTable.dtypes

nconst                object
primaryName           object
birthYear            float64
deathYear            float64
primaryProfession     object
knownForTitles        object
dtype: object

In [11]:
titlesTable.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

# Write functions

- AllMovies(movies): takes in a movies array of codes and prints title and year from titles dataset.
- ActorMovies(actor): taken in an actor name as string and return and array of movies codes from names dataset.
- Search(name): takes in and actor name as string and trigers the above functions.

Note: In order to lookup values in dataset, the .loc fucntion from pandas was used.

In [17]:
def allMovies(movies):
    for movie in movies:
        m = titlesTable.loc[titlesTable['tconst'] == movie, 'primaryTitle'].values[0]
        y = titlesTable.loc[titlesTable['tconst'] == movie, 'startYear'].values[0]
        print(m, y)
        
def actorMovies(actor):
    movies = namesTable.loc[namesTable['primaryName'] == actor, 'knownForTitles'].values[0]
    moviesArr = movies.split(',')
    return moviesArr

def search(name):
    moviesList = actorMovies(name);
    allMovies(moviesList)

# Test example

In [18]:
search('Will Smith')

Wild Wild West 1999.0
I Am Legend 2007.0
The Fresh Prince of Bel-Air 1990.0
Men in Black 1997.0